@model leiloes.Models.Licitacao

<!-- VIEW PROVISÓRIA - SÓ PARA TESTAR -->

@{
    ViewData["Title"] = "Adicionar Licitacao";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Valor">Valor:</label>
        <input asp-for="Valor" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label asp-for="leilao_IdLeilao">LeilaoIdLeilao:</label>
        <input asp-for="leilao_IdLeilao" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label asp-for="user_Nif">UserNif:</label>
        <input asp-for="user_Nif" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label asp-for="dataLicitacao">Data Licitacao:</label>
        <input asp-for="dataLicitacao" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Adicionar</button>
</form>
