@page "/adicionarSaldoError"
@inject NavigationManager NavigationManager


<!-- CSS -->
<style>
    body {
        background-color: #f5f5dc;
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }

    button {
        background-color: #007BFF; 
        color: #fff;
        border: none;
        padding: 10px 20px;
        margin-top: 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

        button:hover {
            background-color: #0056b3; 
        }
</style>


<!-- HTML -->
<body>
    <h1>Erro ao adicionar saldo. Tente outra vez</h1>
    <button @onclick="GoBack">Voltar</button>
</body>


<!-- C# -->
@code {
    private void GoBack()
    {
        NavigationManager.NavigateTo("/paginicial");
    }
}