@page "/adicionarSaldo"
@inject HttpClient HttpClient
@inject IHttpClientFactory HttpClientFactory
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject ILogger<AdicionarSaldo> Logger

@using System.IdentityModel.Tokens.Jwt;


<!-- CSS -->
<style>
    body {
        background-color: #f5f5dc; 
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="number"], .form-control {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box; 
    }

    button {
        background-color: #007BFF; 
        color: #fff;
        border: none;
        padding: 10px 20px;
        margin-top: 20px; 
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        display: block; 
        margin: 10px auto; 
    }

        button:hover {
            background-color: #0056b3;
        }
</style>


<!-- HTML -->
<body>
    <PageTitle>Adicionar Saldo</PageTitle>

    <h3>Adicionar Saldo</h3>
    <form @onsubmit="AddSaldo">
        <div class="form-group">
            <label for="amount">Valor:</label>
            <input type="number" class="form-control" id="amount" @bind="amount" />
        </div>
        <button type="submit">Adicionar Saldo</button>
        <button @onclick="GoBack">Página Inicial</button>
    </form>
</body>


<!-- C# -->
@code {
    private HttpClient httpClient;
    String nif;
    private decimal amount;

    private async Task AddSaldo()
    {   
        try
        {
            httpClient = HttpClientFactory.CreateClient();
            httpClient.BaseAddress = new Uri("https://localhost:7295");
            nif = await SharedMethods.GetNifFromToken(LocalStorage);

            var saldoRequest = new SaldoRequest
            {
                Nif = nif,
                Amount = amount
            };

            var response = await httpClient.PostAsJsonAsync($"api/utilizador/adicionarSaldo", saldoRequest);
            if (response.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo("/paginicial");
            } else
            {
                NavigationManager.NavigateTo("/adicionarSaldoError");
            }

        } catch (HttpRequestException e) {Logger.LogError($"{e.Message}");}
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/paginicial");
    }

    public class SaldoRequest
    {
        public string Nif { get; set; }
        public decimal Amount { get; set; }
    }

}
