@page "/adicionarSaldo"
@inject HttpClient HttpClient
@inject IHttpClientFactory HttpClientFactory
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject ILogger<AdicionarSaldo> Logger

@using System.IdentityModel.Tokens.Jwt;


<PageTitle>Adicionar Saldo</PageTitle>

<h3>Adicionar Saldo</h3>
<form @onsubmit="AddSaldo">
    <div class="form-group">
        <label for="amount">Valor:</label>
        <input type="number" class="form-control" id="amount" @bind="amount" />
    </div>
    <button type="submit">Adicionar Saldo</button>
    <button @onclick="GoBack">Página Inicial</button>
</form>



@code {
    private HttpClient httpClient;
    String nif;
    private decimal amount;

    public class SaldoRequest
    {
        public string Nif { get; set; }
        public decimal Amount { get; set; }
    }

    private async Task AddSaldo()
    {   
        try
        {
            httpClient = HttpClientFactory.CreateClient();
            httpClient.BaseAddress = new Uri("https://localhost:7295");
            nif = await SharedMethods.GetNifFromToken(LocalStorage);
            
            var saldoRequest = new SaldoRequest
            {
                Nif = nif,
                Amount = amount
            };
            
            var response = await httpClient.PostAsJsonAsync($"api/utilizador/adicionarSaldo", saldoRequest);
            if (response.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo("/paginicial");
            } else {Logger.LogError($"{response}");}

        } catch (HttpRequestException e) {Logger.LogError($"{e.Message}");}
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/paginicial");
    }
}
