@page "/"
@inject NavigationManager NavigationManager



<style>
    body {
        background-color: #f5f5dc; /* Bege claro */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Altura da viewport */
        margin: 0;
    }

    .titulo {
        margin-bottom: 200px; /* Afasta o título do topo */
        font-size: 48px;
        color: #333;
    }

    /* Estilo dos botões */
    .botoes {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza os botões horizontalmente */
        gap: 20px; /* Espaço entre os botões */
    }

    .botao {
        background-color: #007BFF; /* Azul */
        color: #fff;
        border: none;
        padding: 15px 30px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 22px;
    }
</style>

<h1 class="titulo">Bem-vindo ao Sistema de Leilões</h1>

<div class="botoes">
    <button @onclick="NavigateToRegister" class="botao">Registar</button>
    <button @onclick="NavigateToLogin" class="botao">Entrar</button>
</div>



@code {
    private void NavigateToRegister()
    {
        // Página de registo
        NavigationManager.NavigateTo("/Register");
    }

    private void NavigateToLogin()
    {
        // Página de autenticação
        NavigationManager.NavigateTo("/Login");
    }
}
