@page "/"
@inject NavigationManager NavigationManager


<!-- CSS -->
<style>
    body {
        background-color: #f5f5dc; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh; 
        margin: 0;
    }

    .titulo {
        margin-bottom: 200px; 
        font-size: 48px;
        color: #333;
    }

    .botoes {
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 20px; 
    }

    .botao {
        background-color: #007BFF; 
        color: #fff;
        border: none;
        padding: 15px 30px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 22px;
    }
</style>


<!-- HTML -->
<h1 class="titulo">Bem-vindo ao Sistema de Leilões</h1>

<div class="botoes">
    <button @onclick="NavigateToRegister" class="botao">Registar</button>
    <button @onclick="NavigateToLogin" class="botao">Entrar</button>
</div>


<!-- C# -->
@code {
    private void NavigateToRegister()
    {
        // Página de registo
        NavigationManager.NavigateTo("/Register");
    }

    private void NavigateToLogin()
    {
        // Página de autenticação
        NavigationManager.NavigateTo("/Login");
    }
}
