@inject NavigationManager NavigationManager


@page "/"

<h1>Bem-vindo ao Sistema de Leilões</h1>

<div>
    <button @onclick="NavigateToRegister">Registar</button>
    <button @onclick="NavigateToLogin">Entrar</button>
</div>

@code {
    private void NavigateToRegister()
    {
        // Página de registo
        NavigationManager.NavigateTo("/Register");
    }

    private void NavigateToLogin()
    {
        // Oágina de autenticação
        NavigationManager.NavigateTo("/UtilizadorLogin");
    }
}
