@inject NavigationManager NavigationManager


@page "/"

<h1>Bem-vindo ao Sistema de Leilões</h1>

<div>
    <button @onclick="NavigateToRegister">Registar</button>
    <button @onclick="NavigateToLogin">Entrar</button>
    <button @onclick="NavigateToList">Lista</button>
</div>

@code {
    private void NavigateToRegister()
    {
        // Navegar para a página de registo
        NavigationManager.NavigateTo("/Register");
    }

    private void NavigateToLogin()
    {
        // Navegar para a página de login
        NavigationManager.NavigateTo("/UtilizadorLogin");
    }

    private void NavigateToList()
    {
        // Navegar para a página de login
        NavigationManager.NavigateTo("/Utilizadores");
    }
}
