@page "/loginError"
@inject NavigationManager NavigationManager

<style>
    body {
        background-color: #f5f5dc; /* Bege claro */
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centralizar horizontalmente */
        text-align: center; /* Alinha o texto ao centro */
    }

    button {
        background-color: #007BFF; /* Azul */
        color: #fff;
        border: none;
        padding: 10px 20px;
        margin-top: 20px; /* Espaço acima do botão */
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

        button:hover {
            background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
        }
</style>

<body>
    <h1>Erro de autenticação. Tente outra vez</h1>
    <button @onclick="GoBack">Voltar</button>
</body>


@code {
    private void GoBack()
    {
        NavigationManager.NavigateTo("/login");
    }
}