@page "/paginicialAdmin"
@inject HttpClient HttpClient
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject ILogger<Paginicial> Logger

@using blazor.Models


<!-- CSS -->
<style>
    body {
        background-color: #f5f5dc;
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }

    .leilao-button {
        background-color: #007BFF; 
        color: #fff;
        border: none;
        padding: 10px 20px;
        margin: 5px auto; 
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        display: block; 
    }

        .leilao-button:hover {
            background-color: #0056b3; 
        }

    button {
        background-color: #007BFF; 
        color: #fff;
        border: none;
        padding: 10px 20px;
        margin-top: 20px; 
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        display: block; 
        margin: 10px auto; 
    }

        button:hover {
            background-color: #0056b3; 
        }
</style>


<!-- HTML -->
<body>
    <h1>Leilões</h1>
    @if (response == null)
    {
        <p><em>A carregar...</em></p>
    }
    else
    {
        <div>
            @foreach (var leilao in response)
            {
                <button @onclick="() => NavigateToLeilao(leilao.LeilaoId)" class="leilao-button">
                    @leilao.LeilaoId - @leilao.NomeItem - @leilao.ValorAtualLicitacao
                </button>
            }
        </div>
        <button @onclick="GoBack">Voltar</button>
    }
</body>


<!-- C# -->
@code {
    private HttpClient httpClient;
    private IEnumerable<LeilaoSimplesModel> response;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            httpClient = HttpClientFactory.CreateClient();
            httpClient.BaseAddress = new Uri("https://localhost:7295");
            response = await httpClient.GetFromJsonAsync<IEnumerable<LeilaoSimplesModel>>("api/home/pendentes");
        }

        catch (HttpRequestException e) { Logger.LogError($"{e.Message}"); }
    }

    private void NavigateToLeilao(int leilaoId)
    {
        NavigationManager.NavigateTo($"/leilaoAdmin/{leilaoId}");
    }
   
    private void GoBack()
    {
        NavigationManager.NavigateTo("/");
    }
}
