@page "/paginicial"
@inject HttpClient HttpClient
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject ILogger<Paginicial> Logger

@using blazor.Models


<style>
    body {
        background-color: #f5f5dc; /* Bege claro */
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centralizar horizontalmente */
    }

    .leiloes-container {
        text-align: center;
        width: 100%;
    }

    .leilao-button {
        background-color: #007BFF; /* Azul */
        color: #fff;
        border: none;
        padding: 15px 20px; /* Aumenta o padding para um tamanho maior */
        margin: 10px auto; /* Centraliza o botão */
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px; /* Aumenta o tamanho da fonte */
        display: block; /* Faz o botão ocupar a linha inteira */
        width: 100%; /* Largura aumentada */
        min-width: 300px; /* Largura mínima */
    }

        .leilao-button:hover {
            background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
        }

    .action-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 80%;
        flex-wrap: wrap; /* Quebra a linha caso necessário */
    }

        .action-buttons button {
            background-color: #007BFF; /* Azul */
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin: 5px; /* Espaçamento entre os botões */
        }

            .action-buttons button:hover {
                background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
            }
</style>

<body>
    <h1>Leilões</h1>
    @if (response == null)
    {
        <p><em>Carregando...</em></p>
    }
    else
    {
        <div class="leiloes-container">
            @foreach (var leilao in response)
            {
                <div>
                    <button @onclick="() => NavigateToLeilao(leilao.LeilaoId)" class="leilao-button">
                        @leilao.LeilaoId - @leilao.NomeItem - @leilao.ValorAtualLicitacao
                    </button>
                </div>
            }
        </div>
        <div class="action-buttons">
            <button @onclick="CriarLeilao">Criar Leilao</button>
            <button @onclick="VerPerfil">Perfil</button>
            <button @onclick="VerStats">Estatísticas</button>
            <button @onclick="GoBack">Voltar</button>
        </div>
    }
</body>






@code {
    private HttpClient httpClient;
    private IEnumerable<LeilaoSimplesModel> response;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            httpClient = HttpClientFactory.CreateClient();
            httpClient.BaseAddress = new Uri("https://localhost:7295");
            response = await httpClient.GetFromJsonAsync<IEnumerable<LeilaoSimplesModel>>("api/home");
        }
            
        catch (HttpRequestException e) {Logger.LogError($"{e.Message}");}
    }

    private void NavigateToLeilao(int leilaoId)
    {
        NavigationManager.NavigateTo($"/leilao/{leilaoId}");
    }
    private void CriarLeilao()
    {
        NavigationManager.NavigateTo("/criarLeilao");
    
    }
    private void VerPerfil()
    {
        NavigationManager.NavigateTo("/perfil");
    }
    private void VerStats()
    {
        NavigationManager.NavigateTo("/verStats");
    }
    private void GoBack()
    {
        NavigationManager.NavigateTo("/");
    }
}
