@page "/registerError"
@inject NavigationManager NavigationManager

<h3>RegisterError</h3>
<h1>Erro de registo. Tente outra vez</h1>

<button @onclick="GoBack">Voltar ao Registo</button>

@code {
    private void GoBack()
    {
        NavigationManager.NavigateTo("/register");
    }
}